@charset "UTF-8";

.root {
    background-color: #212121;
}

.card {
    font-family: monospace;
    margin-top: 40px;
    width: 500px;
    height: 300px;
    background: #292828eb;
    border: 2px solid #000;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.dots {
    display: flex;
    justify-content: last baseline;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dot-1 {
    background-color: rgb(0, 132, 255);
}

.dot-2 {
    background-color: rgb(255, 0, 89);
}

.dot-3 {
    background-color: rgb(0, 255, 89);
}

.top p {
    font-size: 20px;
    font-weight: bold;
}

.dot,
.top p {
    margin: 5px;
}

.g-color {
    color: darkgreen;
}

.bottom {
    margin-top: 30px;
    padding: 0 25px;
}

.code {
    font-size: 15px;
}

.red {
    color: rgb(210, 63, 52);
}

.violet {
    color: rgb(181, 40, 203);
}

.blue {
    color: rgb(91, 131, 223);
}

.orange {
    color: rgb(195, 128, 3);
}

.white {
    color: rgb(163, 163, 163);
}

.space-4 {
    margin-left: 35px;
}

.space-4x2 {
    margin-left: 70px;
}

a.resume:link,
a.resume:visited {
    background-color: #ce36f4;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.linkedin:link,
a.linkedin:visited {
    background-color: #7836f4;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-animation: rotate var(--speed) var(--easing) alternate infinite;
}
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  
  body {
    background-color: #222;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* This is just to transition when you change the viewport size. */
  * {
    transition: all 0.25s ease-out;
  }
